<style>
	ul {
		list-style: none;
	}
	.fondo{
		background-color: #f6e3c2;
	}
	li {
		display: inline-block;

	}
	h1{ 
		color: black;
		border-style: solid;
		border-radius: 5px;
		border-color: black;
		height: 48px;
		font-weight: bold;
		text-align: center;
		background: url('mozo.png') no-repeat;	
	}
	.box div{
		width: 300px;
		margin: 20px;
		border-color: 1px solid black;
		text-align: left;
	}
	.posts {
		width: 1130px;
		margin: auto;
	}

</style>